* {
    margin: 0;
    font-family: sans-serif;
}
body {
    padding: 0;
    text-align: center;
    background: #85dfe9;
}
li {
    list-style: circle;
}
button { 
    background: #e0bb53;
}
#input {
    padding: 50px 0;
    background: #474e4e;
}
#caption {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin: 0 80px 0 0;
    font-weight: bold;
}
#add {
    color: black;
}
#list {
    border-bottom: 1px solid gray; 
    margin: 10px 0;
    padding: 10px 0;
    display: inline-block;
    width: 600px;
    text-align: left;
    font-size: big;
}
#list li:hover button {
    visibility: visible;
}
.completed {
    color: grey;
    text-decoration: line-through;
    list-style: unset;
}
.delete {
    margin: 0 10px;
    float: right;
    height: 21px;
    line-height: 1px;
    visibility: hidden;
}
#clear {
    visibility: hidden;
}
.bottom {
    margin: 0 10px;
}
#items {
    background: palevioletred;
    padding: 2px;
    border: 1px solid white;
}
#all {
    background: white;
}