* {
    margin: 0;
    font-family: sans-serif ;
}
body {
    padding: 0;
    text-align: center;
    background: rgb(133, 223, 233);
}
li {
    list-style: circle;
    border-bottom: 1px dotted black; 
    margin: 5px 0;
}
#input {
    padding: 20px 0;
    background: #474e4e;
}
#caption {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-spacing: 20px;
    color: white;
    margin: 0 0 20px 0;
    font-weight: bold;
}
#add {
    color: black;
    background: white;
    outline: none;
    border: 1px solid black;
    height: 30px;
    width: 35%;
    border-radius: 20px;
    padding-left: 20px;
}
#list {
    border-bottom: 1px solid gray; 
    background: #c4f0f0 ;
    margin-bottom: 20px;
    padding-right: 20px;
    display: inline-block;
    width: 640px;
    height: 450px;
    text-align: left;
    overflow: auto;
}
#list li:hover button {
    visibility: visible;
}
.completed {
    color: grey;
    text-decoration: line-through;
    list-style: unset;
}
.delete {
    margin: 0 10px;
    float: right;
    height: 21px;
    line-height: 1px;
    visibility: hidden;
    border: none;
}
#bottom button {
    background: #85dfe9;
    text-decoration: none;
    border: 1px solid white;
    height: 30px;
}
#bottom #clear {
    background: #c4f0f0;
    visibility: hidden;
    color: purple;
    margin-left: 30px;
    border-radius: 25px;
}
#items {
    padding: 2px;
    margin-right: 30px;
    color: red;
    font-weight: bold;
}
#all {
    background: white;
}